<div class="col-md-offset-2 col-md-8 col-md-offset-2"%>
  <div class="panel panel-default">
  <div class="panel-heading"><h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>Editing feedback</h2></div>
    <div class="panel-body">

		<%= render 'form' %>

   </div>
  </div>
<%= link_to 'Show', @feedback %> |
<%= link_to 'Back', feedbacks_path %>
</div>





