<% provide(:title, "new Survey") %>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', surveys_path %></li>
  <li><%= link_to 'New survey', new_survey_path %></li>
</ul>
<h1>New survey</h1>

<%= render 'form' %>

<%= link_to 'Back', surveys_path %>
