<div class="col-md-offset-2 col-md-8 col-md-offset-2"%>
  <div class="panel panel-default">
  <div class="panel-heading"><h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><br>Edit <%= @survey.name %></h2></div>
    <div class="panel-body">

		<%= render 'form_edit' %>

   </div>
  </div>
<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
</div>
