<h1>
<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
<br>
<br>
Your Feedback has been Submitted.
<br>
<br>
Thank you!
</h1>
<%if user_signed_in? %>
	<div class="center">
		<br>
		<br>
	    <span class="glyphicon glyphicon-list-alt glyphicon-lg" aria-hidden="true"></span>
	    <br>
	    <br>
		<a class="btn btn-default btn-lg" href="/surveys" role="button">Go back to Survey List</a>
	</div>
<%end%>